@charset "utf-8";
html {
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, monospace; }

button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

.hide {
  display: none; }

.show {
  display: block; }

.invisible {
  visibility: hidden; }

.visible {
  visibility: visible; }

.reset-indents {
  padding: 0;
  margin: 0; }

.reset-font {
  line-height: 0;
  font-size: 0; }

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0; }
  .clearfix:after {
    clear: both; }

.clear {
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0; }

.clear-self:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ''; }

.thumb, .YMaps, .ymaps-map {
  color: #000; }

.table {
  display: table; }
  .table .tr {
    display: table-row; }
    .table .tr .td {
      display: table-cell; }

.table0, .table1, .table2 {
  border-collapse: collapse; }
  .table0 td, .table1 td, .table2 td {
    padding: 0.5em; }

.table1, .table2 {
  border: 1px solid #afafaf; }
  .table1 td, .table2 td, .table1 th, .table2 th {
    border: 1px solid #afafaf; }

.table2 th {
  padding: 0.5em;
  color: #fff;
  background: #f00; }

@font-face {
  font-family: "roboto_slab-b";
  src: url("/g/fonts/roboto_slab/roboto_slab-b.eot");
  src: url("/g/fonts/roboto_slab/roboto_slab-b.eot?#iefix") format("embedded-opentype"), url("/g/fonts/roboto_slab/roboto_slab-b.woff") format("woff"), url("/g/fonts/roboto_slab/roboto_slab-b.ttf") format("truetype"), url("/g/fonts/roboto_slab/roboto_slab-b.svg#roboto_slab-b") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "roboto_slab-r";
  src: url("/g/fonts/roboto_slab/roboto_slab-r.eot");
  src: url("/g/fonts/roboto_slab/roboto_slab-r.eot?#iefix") format("embedded-opentype"), url("/g/fonts/roboto_slab/roboto_slab-r.woff") format("woff"), url("/g/fonts/roboto_slab/roboto_slab-r.ttf") format("truetype"), url("/g/fonts/roboto_slab/roboto_slab-r.svg#roboto_slab-r") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "roboto-b";
  src: url("/g/fonts/roboto/roboto-b.eot");
  src: url("/g/fonts/roboto/roboto-b.eot?#iefix") format("embedded-opentype"), url("/g/fonts/roboto/roboto-b.woff") format("woff"), url("/g/fonts/roboto/roboto-b.ttf") format("truetype"), url("/g/fonts/roboto/roboto-b.svg#roboto-b") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  color: #999;
  min-width: 980px;
  margin: 0;
  font: normal 14px Arial, Helvetica, sans-serif; }

a {
  color: #999;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font: normal 18px 'roboto_slab-b', Arial, Helvetica, sans-serif;
  color: #2c1a1a; }
  
  

h1 {
  font-size: 25px;
  margin: 0 0 10px;
  padding: 0; }

h2 {
  font-size: 24px;
  margin: 0.83em 0; }

h3 {
  font-size: 23px;
  margin: 1em 0; }

h4 {
  font-size: 22px;
  margin: 1.33em 0; }

h5 {
  font-size: 20px;
  margin: 1.5em 0; }

h6 {
  font-size: 18px;
  margin: 1.67em 0; }
/* MAIN
 --------------------------------------------*/
.site-wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
 
  padding: 0 0 -229px 0;
  background: url(../top-pic.jpg) no-repeat 50% 0;
  position: relative; }
  .site-wrap:before {
    content: "";
    position: absolute;
    top: 586px;
    right: 0;
    left: 0;
    background: url(../cont-bg.jpg) no-repeat 50% 0;
    height: 979px;
    z-index: -1; }
  .site-wrap:after {
    content: "";
    position: absolute;
    top: 586px;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../cont-rep.jpg) repeat-y 50% 0;
    z-index: -1; }

.site-wrap-in {
  margin: 0 auto;
  width: 981px;
  padding-top: 70px;
  background-color: #fff;
  -moz-box-shadow: -1px 10px 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: -1px 10px 10px rgba(0, 0, 0, .5);
  box-shadow: -1px 10px 10px rgba(0, 0, 0, .5); }

.clear-footer {
  clear: both;
 }

.clear {
  clear: both;
  font-size: 0;
  line-height: 0; }
/* HEADER
 --------------------------------------------*/
.site-header {
  height: 518px;
  position: relative; }
  .site-header p {
    margin: 0; }
  .site-header a img {
    border: none; }
  .site-header .header-in {
    width: 981px;
    margin: 0 auto;
    position: relative; }
/* LOGO
 --------------------------------------------*/
.site-logo {
  position: absolute;
  left: 343px;
  top: 0px; }

.company-desc {
  position: absolute;
  top: 116px;
  left: 369px;
  width: 265px;
  font: normal 13px 'roboto-b', Arial, sans-serif;
  color: #525252; }
/* SLOGAN
 --------------------------------------------*/
.site-slogan {
  position: absolute;
  right: 32px;
  text-transform: uppercase;
  top: 231px;
  color: #634419;
  font: 25px 'Monotype Corsiva', Arial, Helvetica, sans-serif;
  padding: 0; }
/* PHONE
 --------------------------------------------*/
.top-site-phone {
  position: absolute;
  right: 3px;
  top: 40px;
  color: #ffffff;
  font: normal 16px 'roboto_slab-b', Arial, Helvetica, sans-serif;
  padding: 5px 0 5px 47px;
  width: 215px;
background: url(../tel-icon.png) no-repeat 0 0;  text-shadow: 1px 1px 2px black; }
  

.top-adr {
  padding: 1px 0;
  margin: 10px 4px 0 0;
  list-style: none;
  position: relative;
  border: 1px solid #9dbb27;
  z-index: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #93b424;
  -moz-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  -webkit-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  background-image: -o-linear-gradient(#c0d334, #699616);
  background-image: -moz-linear-gradient(#c0d334, #699616);
  background-image: -webkit-linear-gradient(#c0d334, #699616);
  background-image: -ms-linear-gradient(#c0d334, #699616);
  background-image: linear-gradient( #c0d334, #699616);
  -pie-background: linear-gradient( #c0d334, #699616); }

.top-adr ul {margin-top: 10px; margin-bottom: 15px; padding-top: 0; padding-bottom:0;}

.akciya1 {width: 239px; 
    font: normal 16px 'roboto_slab-b', Arial, Helvetica, sans-serif; 
    text-align: center;
    background: url(/images/akciya.jpg) no-repeat 0 0; 
    background-size: cover; padding-top: 45px; padding-bottom:45px; 
    border-radius: 8px; text-shadow: 1px 1px 2px black;  
}


a.akciya0, .akciya0 a  {text-decoration: none; color: #fff;}

a.akciya0:hover, .akciya0 a:hover {text-decoration: underline}
 
 .price-1, .price-3 {  font: normal 22px 'roboto_slab-b', Arial, Helvetica, sans-serif; color: #ff2d1e;}
 
  .pricetab {border-collapse: collapse }
 .pricetab td {padding: 5px 20px !important; border: 1px solid #333; font-size: 12px; padding: 5px 10px;}
 
  .top-site-phone a {
    color: #ffffff; }
/*	ADRES-TOP
 --------------------------------------------*/
.top-adres {
  position: absolute;
  left: 10px;
  top: 70px;
  color: #634419;
  font: normal 14px 'roboto_slab-b', Arial, Helvetica, sans-serif;
  padding: 4px 0 6px 0px;
  width: 239px;
 height: 140px;
  background: url(../adr-icon2.png) no-repeat 0 0; }
  .top-adres a {
    color: #634419; }
/*	TOP-MENU
 --------------------------------------------*/
.top-menu-wr {
  position: relative;
  height: 70px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #2c1a1a;
  -moz-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  -webkit-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  background-image: -o-linear-gradient(#2c1a1a, #2c1a1a);
  background-image: -moz-linear-gradient(#2c1a1a, #2c1a1a);
  background-image: -webkit-linear-gradient(#2c1a1a, #2c1a1a);
  background-image: -ms-linear-gradient(#2c1a1a, #2c1a1a);
  background-image: linear-gradient( #2c1a1a, #2c1a1a);
  -pie-background: linear-gradient( #2c1a1a, #2c1a1a);
  margin-bottom: -10px; }
  .top-menu-wr .top-menu {
    height: 70px;
    padding: 0;
    margin: 0 auto;
    width: 980px;
    list-style: none;
    overflow: hidden;
    font-size: 0;
    line-height: 0; }
    .top-menu-wr .top-menu ul, .top-menu-wr .top-menu li {
      padding: 0;
      margin: 0;
      font-size: 0;
      line-height: 0;
      list-style-type: none; }
    .top-menu-wr .top-menu > li {
      display: inline-block;
      vertical-align: top;
      background: url(../mt-del.png) no-repeat left center;
      margin: 6px -2px 7px 0; }
      .top-menu-wr .top-menu > li:first-child {
        background: none; }
      .top-menu-wr .top-menu > li > a {
        display: block;
        text-decoration: none;
        color: #fff;
        position: relative;
        text-transform: uppercase;
        padding: 23px 28px 21px; 
        font: normal 16px 'roboto_slab-b', Arial, Helvetica, sans-serif; }
        .top-menu-wr .top-menu > li > a:hover {
          text-decoration: none;
          color: #fff6f2;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          -webkit-background-clip: padding;
          -moz-background-clip: padding;
          background-clip: padding-box;
          background-color: #93b424;
          -moz-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
          -webkit-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
          box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16); }
      .top-menu-wr .top-menu > li.s3-menu-allin-active > a {
        text-decoration: none;
        color: #fff6f2;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        background-clip: padding-box;
        background-color: #93b424;
        -moz-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
        -webkit-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
        box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16); }
      .top-menu-wr .top-menu > li ul {
        z-index: 1100;
        position: absolute;
        display: none;
        width: 200px;
        background: #93b424;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 5px 0;
        margin-top: -5px;
        margin-left: 1px; }
        .top-menu-wr .top-menu > li ul li > a {
          display: block;
          text-decoration: none;
          color: #fff;
          position: relative;
          padding: 10px 15px 10px;
          font: normal 13px 'roboto_slab-r', Arial, Helvetica, sans-serif; }
          .top-menu-wr .top-menu > li ul li > a:hover {
            text-decoration: none;
            color: #fff6f2;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            -webkit-background-clip: padding;
            -moz-background-clip: padding;
            background-clip: padding-box;
            background-image: -o-linear-gradient(#c9762e, #bd6126);
            background-image: -moz-linear-gradient(#c9762e, #bd6126);
            background-image: -webkit-linear-gradient(#c9762e, #bd6126);
            background-image: -ms-linear-gradient(#c9762e, #bd6126);
            background-image: linear-gradient( #c9762e, #bd6126);
            -pie-background: linear-gradient( #c9762e, #bd6126);
            -moz-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
            -webkit-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
            box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16); }
          .top-menu-wr .top-menu > li ul li.s3-menu-allin-active > a {
            text-decoration: none;
            color: #fff6f2;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            -webkit-background-clip: padding;
            -moz-background-clip: padding;
            background-clip: padding-box;
            background-image: -o-linear-gradient(#c9762e, #bd6126);
            background-image: -moz-linear-gradient(#c9762e, #bd6126);
            background-image: -webkit-linear-gradient(#c9762e, #bd6126);
            background-image: -ms-linear-gradient(#c9762e, #bd6126);
            background-image: linear-gradient( #c9762e, #bd6126);
            -pie-background: linear-gradient( #c9762e, #bd6126);
            -moz-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
            -webkit-box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16);
            box-shadow: inset 0 1px 1px rgba(93, 30, 25, .16); }
      .top-menu-wr .top-menu > li > ul {
        margin-top: 7px;
        margin-left: 0; }
/* CONT-BLOCK
 --------------------------------------------*/
#block_preview
{
    width: 192px;
    float: left;
    margin: 15px 10px;
    position: relative;
    height: 280px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 5px 5px #999;    
}
#block_preview a {

    text-decoration:none;
}

.preimushestva {width: 100%;}
.preimushestva img {width: 120px}
.preimushestva td {width: 25%; text-align: center; vertical-align: top; padding: 15px 5px; font-size: 12px;}
.preimushestva td span {font-size: 18px; font-weight: bold;}

.kredit_main h2 {color: #ff2d1e; margin-bottom:0; margin-top: 30px;}
.kredit_main table {width: 100%;}
.kredit_main td {width: 33%; text-align: center; vertical-align: top; padding: 5px 5px 15px 5px; font-size: 18px;}
.kredit_main td strong {font-size: 36px; font-weight: bold; color: #ff2d1e;}

.preview_zag{
    color: #684123;
    height: 64px;
    font-size: 18px; 
    text-decoration: underline;
    margin: 10px 0px;
}
.preview_zag:hover{
text-decoration:none;
}
.preview_price{
    margin: 5px 0px;
    color: #6A9616;
    font-size: 22px;    
    font-weight: bold;

}
.preview_size{
      background-image: url(../images/Sprite.png);
    background-position: -30px -176px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    left: -8px;
    top: 3px;
}
.image_preview img{
    width:192px; 
    height: 128px;
}
.cont-block {
  position: relative;
  padding: 0 0 35px 40px;
  margin-right: -20px; }
  .cont-block p {
    margin: 0; }
  .cont-block a {
    display: block;
    float: left;
    width: 182px;
    height: 252px;
    text-decoration: none;
    font: normal 18px 'roboto_slab-b', Arial, sans-serif;
    color: #000;
    margin: 0 58px 20px 0;
    text-transform: uppercase;
    text-align: center;
    background: none; }
 
   .cont-block a .spec-pic {
      width: 180px;
      height: 180px;
   
      background: #fff;
      display: inline-block;
      margin-bottom: 12px; }
    .cont-block a .spec-title {
      height: 47px;
      display: inline-block;
      overflow: hidden; }
/* CONTENT
 --------------------------------------------*/
.site-content-wrap {
  width: 100%;
  min-height: 0;
  position: relative; }
  .site-content-wrap:after {
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
    display: block; }
/* MIDDLE COLUMN
 --------------------------------------------*/
.site-content-middle {
  float: left;
  width: 100%; }

.site-content-middle-in {
  margin: 0 0 0 251px;
  padding: 0 10px 30px 20px; }
/* LEFT COLUMN
 --------------------------------------------*/
.site-content-left {
  width: 241px;
  float: left;
  margin-left: -100%;
  padding: 5px 0 30px 10px; }
/* SEARCH
 --------------------------------------------*/
.search-form {
  background: url(../search-pic.png) right top no-repeat;
  width: 241px;
  height: 40px;
  margin-bottom: 29px; }
  .search-form input[type=text] {
    outline: none;
    float: left;
    border: none;
    padding: 13px 0px;
    margin: 0 0 0 10px;
    width: 195px;
    height: 15px;
    background: transparent;
    font: 15px Arial, sans-serif;
    color: #fff;
    text-transform: lowercase; }
  .search-form input[type=submit] {
    outline: none;
    float: left;
    border: none;
    cursor: pointer;
    width: 27px;
    height: 40px;
    background: transparent;
    margin: 0px 0 0 4px; }
/* LEFT-MENU level
 --------------------------------------------*/
.left-menu {
  padding: 16px 0;
  margin: 0 0 43px;
  list-style: none;
  font: normal 12px 'roboto_slab-b', Arial, Helvetica, sans-serif;
  position: relative;
  border: 1px solid #9dbb27;
  z-index: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #93b424;
  -moz-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  -webkit-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  background-image: -o-linear-gradient(#c0d334, #699616);
  background-image: -moz-linear-gradient(#c0d334, #699616);
  background-image: -webkit-linear-gradient(#c0d334, #699616);
  background-image: -ms-linear-gradient(#c0d334, #699616);
  background-image: linear-gradient( #c0d334, #699616);
  -pie-background: linear-gradient( #c0d334, #699616); }
  .left-menu:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 351px;
    z-index: -1;
    background: url(../ml-aft.png) no-repeat 0 0; }

.left-menu > li {
  background: url(../ml-del.png) no-repeat 50% 100%;
  padding: 0; }

.left-menu > li > a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  padding: 13px 30px 13px 20px;
  position: relative;
  text-decoration: none; }

.left-menu > li > a:hover {
  background-image: -o-linear-gradient(#b26a28, #a15720);
  background-image: -moz-linear-gradient(#b26a28, #a15720);
  background-image: -webkit-linear-gradient(#b26a28, #a15720);
  background-image: -ms-linear-gradient(#b26a28, #a15720);
  background-image: linear-gradient( #b26a28, #a15720);
  -pie-background: linear-gradient( #b26a28, #a15720);
  text-decoration: none; }
  .left-menu > li > a:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 11px;
    height: 11px;
    margin-top: -5px;
    right: 19px;
    background: url(../ml-mark.png) no-repeat 0 0; }

.left-menu li ul {
  padding: 4px 0 6px 30px;
  margin: 0;
  font: normal 11px 'roboto_slab-b', Arial, Helvetica, sans-serif;
  list-style: none; }

.left-menu li ul li {
  padding: 0;
  margin: 0; }

.left-menu li ul li a {
  color: #fff;
  padding: 3px 0 3px 9px;
  display: inline-block;
  text-decoration: none; }

.left-menu li ul li a:hover {
  text-decoration: underline; }
/* NEWS-BLOCK
 --------------------------------------------*/
.news-block-wr1 {
  font: normal 16px Arial, Helvetica, sans-serif;
  color: #634419;
  margin: 0 0 20px -8px;
  width: 259px;
  position: relative; }
  .news-block-wr1:before {
    content: "";
    position: absolute;
    top: -44px;
    right: 0;
    left: 0;
    height: 71px;
    background: url(../news-bef.png) no-repeat 0 0; }

.news-head {
  font: 27.77778px 'roboto_slab-b', Arial, Helvetica, sans-serif;
  color: #a96024;
  padding: 5px 29px 0;
  text-transform: uppercase; }

.news-block-wr1 article {
  padding: 35px 27px;
  position: relative;
  z-index: 1;
  background: url(../n-top.png) no-repeat 50% 0; }
  .news-block-wr1 article:before {
    content: "";
    position: absolute;
    top: 65px;
    background: url(../n-rep.png) repeat-y 50% 0;
    right: 0;
    left: 0;
    z-index: -1;
    bottom: 64px; }
  .news-block-wr1 article:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 66px;
    background: url(../n-aft.png) no-repeat 50% 0; }
  .news-block-wr1 article:last-child:before {
    content: "";
    bottom: 47px; }
    .news-block-wr1 article:last-child:after {
      content: "";
      height: 48px; }

.news-date {
  display: block;
  font-size: 16px;
  color: #634419;
  font-weight: bold;
  padding: 0 0 3px; }

.news-title {
  padding: 0 0 5px; }
  .news-title a {
    color: #634419;
    font-weight: bold; }

.news-note {
  padding: 0 0 15px; }

.news-more {
  padding: 0;
  font-size: 11px; }
  .news-more a {
    color: #000; }

.news-archive {
  padding: 0;
  font-size: 11px; }
  .news-archive a {
    color: #000; }

.news-block-wr1 p {
  margin: 0; }
/* VOTE BLOCK
 -------------------------------*/
.vote-wr {
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #232323;
  margin: 0 0 20px;
  padding: 0; }

.vote-head {
  padding: 12px 15px 7px 0;
  font: normal 30px 'roboto_slab-r', Arial, Helvetica, sans-serif;
  color: #434343; }

.block-vote {
  padding: 10px 20px 10px 0; }

.block-vote > b {
  font-size: 14px;
  font-weight: bold;
  color: #a96024; }

.block-vote input[type=radio] {
  margin: 5px 5px 5px 0; }

.block-vote input[type=checkbox] {
  margin: 5px 5px 5px 0; }

.block-vote input[type=text] {
  border: none;
  width: 109px;
  outline: none;
  height: 18px;
  background: url(../vote-in.png) 0 0 no-repeat;
  color: #000;
  line-height: 16px;
  padding: 2px 5px;
  margin-bottom: 18px; }

.block-vote input[type=submit] {
  margin: 0;
  background: url(../vote-sub.png) 0 0 no-repeat;
  width: 160px;
  height: 32px;
  border: none;
  margin-left: -5px;
  outline: none;
  text-indent: -290px;
  overflow: hidden; }

.vote-sp {
  font: normal 11px Arial, sans-serif;
  color: #dfdfdf;
  padding: 4px 0;
  display: inline-block; }
/* EDIT-BLOCK
 --------------------------------------------*/
.edit-block-wr1 {
  font: normal 6.66667px Arial, Helvetica, sans-serif;
  color: #999;
  padding: 0;
  margin: 30px 0 38px; }
  .edit-block-wr1 .edit-title {
    font: 30px 'roboto_slab-r', Arial, Helvetica, sans-serif;
    color: #a96024;
    padding: 8px 20px 3px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px; }
  .edit-block-wr1 .ed-pic {
    float: left;
    width: 218px;
    height: 120px;
    margin: 4px 21px 20px 0; }
  .edit-block-wr1 .edit-cont {
    padding: 0 15px 20px; }
    .edit-block-wr1 .edit-cont a {
      text-decoration: underline;
      color: #000; }
      .edit-block-wr1 .edit-cont a:hover {
        text-decoration: none; }
    .edit-block-wr1 .edit-cont p:first-child {
      margin: 0;
      padding: 0; }
/* INFORMERS
 --------------------------------------------*/
.left-informers {
  text-align: center;
  margin: 0 0 20px; }
/* PROGRESS
 --------------------------------------------*/
.bot-block {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-bottom: 30px;
  padding: 15px 18px 5px;
  border: 2px solid #a96024;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 0 -2px 0 -2px;
  border-radius: 3px; }
  .bot-block .header {
    font: normal 25px 'roboto_slab-r', Arial, sans-serif;
    color: #9ab826;
    margin-bottom: 18px;
    padding-top: 2px; }
  .bot-block a.more {
    font: normal 14px 'roboto_slab-r', Arial, sans-serif;
    color: #9ab826;
    position: absolute;
    top: 24px;
    right: 12px; }
  .bot-block ul, .bot-block ul > li {
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    list-style: none; }
    .bot-block ul li, .bot-block ul > li li {
      display: inline-block;
      vertical-align: top;
      width: 152px;
      height: 100px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      overflow: hidden;
      margin: 0 15px 15px 0; }
      .bot-block ul li:nth-child(4), .bot-block ul > li li:nth-child(4), .bot-block ul li:nth-child(8), .bot-block ul > li li:nth-child(8), .bot-block ul li:nth-child(12), .bot-block ul > li li:nth-child(12) {
        margin-right: 0; }
    .bot-block ul a, .bot-block ul > li a {
      cursor: url(/shared/highslide/graphics/zoomin.cur), pointer;
      outline: none; }
      .bot-block ul a img, .bot-block ul > li a img {
        border: none !important; }
/* FOOTER
 --------------------------------------------*/
.site-footer {
  height: 229px;
  position: relative;
  clear: both;
  z-index: 1; }
  .site-footer p {
    margin: 0; }

.site-footer-wr {
  height: 169px;
  width: 981px;
  background-color: #fff;
  -moz-box-shadow: -1px 10px 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: -1px 10px 10px rgba(0, 0, 0, .5);
  box-shadow: -1px 10px 10px rgba(0, 0, 0, .5);
  margin: 0 auto;
  position: relative;
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #000; }
  .site-footer-wr:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 267px;
    width: 431px;
    height: 130px;
    background: url(../foot-pic.png) no-repeat 0 0; }
/*	MENU-BOT
 --------------------------------------------*/
.mb-block {
  height: 70px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #93b325;
  -moz-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  -webkit-box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  box-shadow: inset 0 -3px 0 rgba(93, 30, 25, .16);
  background-image: -o-linear-gradient(#9fbc29, #8aad21);
  background-image: -moz-linear-gradient(#9fbc29, #8aad21);
  background-image: -webkit-linear-gradient(#9fbc29, #8aad21);
  background-image: -ms-linear-gradient(#9fbc29, #8aad21);
  background-image: linear-gradient( #9fbc29, #8aad21);
  -pie-background: linear-gradient( #9fbc29, #8aad21);
  margin-bottom: -10px;
  position: relative;
  z-index: 2; }
  .mb-block nav.mb-wr {
    width: 981px;
    margin: 0 auto;
    position: relative; }

.bot-menu {
  padding: 0 210px 0 47px;
  margin: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  height: 70px;
  overflow: hidden; }
  .bot-menu li {
    display: inline-block;
    vertical-align: top;
    background: url(../mb-del.png) no-repeat left center;
    padding: 6px 0;
    margin: 0 -2px 0 0; }
    .bot-menu li:first-child {
      background: none; }
    .bot-menu li a {
      display: block;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      font: normal 13px 'roboto_slab-b', Arial, Helvetica, sans-serif;
      color: #fff;
      padding: 21px 21px; }
      .bot-menu li a:hover {
        background: #a96024;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px; }
.slide_block{
float:left;
margin:8px;
}
/* SEARCH
 --------------------------------------------*/
.search-form2 {
  background: url(../search-pic2.png) right top no-repeat;
  width: 210px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: -3px;
  margin-bottom: 29px; }
  .search-form2 input[type=text] {
    outline: none;
    float: left;
    border: none;
    padding: 13px 0px;
    margin: 0 0 0 10px;
    width: 161px;
    height: 15px;
    background: transparent;
    font: 15px Arial, sans-serif;
    color: #fff;
    text-transform: lowercase; }
  .search-form2 input[type=submit] {
    outline: none;
    float: left;
    border: none;
    cursor: pointer;
    width: 27px;
    height: 40px;
    background: transparent;
    margin: 0px 0 0 4px; }
/* SITE-NAME
 --------------------------------------------*/
.site-name {
  position: absolute;
  left: 31px;
  top: 52px;
  color: #634419;

    font: normal 13px 'roboto_slab-r', Arial, Helvetica, sans-serif;
}
/* COPYRIGHT
 --------------------------------------------*/
.site-copyright {
  position: absolute;
  right: 30px;
  top: 72px;
  color: #634419;
  font: normal 11px Tahoma, Arial, Helvetica, sans-serif; }
  .site-copyright span {
    font: normal 11px Arial, Helvetica, sans-serif !important; }
  .site-copyright a {
    color: #634419; }
/* COUNTERS
 --------------------------------------------*/
.site-counters {
  position: absolute;
  left: 32px;
  top: 71px; }
/* SITE-PATH
 --------------------------------------------*/
.site-path {
  color: #333;
  font: normal 11px Arial, Tahoma, Geneva, sans-serif;
  padding: 0 0 8px; }
  .site-path a {
    color: #08c; }
/* tables */
table.table0 {
  border-collapse: collapse; }

table.table0 td {
  padding: 5px;
  border: none; }

table.table1 {
  border-collapse: collapse; }

table.table1 td {
  padding: 5px;
  border: 1px solid #7f7f7f; }

table.table2 {
  border-collapse: collapse; }

table.table2 td {
  padding: 5px;
  border: 1px solid #7f7f7f; }

table.table2 th {
  padding: 8px 5px;
  border: 1px solid #7f7f7f;
  color: #fff;
  background: #e0e0e0;
  text-align: left; }
/* GALLERY */
table.gallery {
  border-spacing: 10px;
  border-collapse: separate; }

table.gallery td {
  background-color: #f0f0f0;
  text-align: center;
  padding: 15px; }
.B_crumbBox li {display: inline-table;}

слайдшоу/

/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(/sayt/images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(/sayt/images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}
#container{
position: absolute;

height: 150px;
width: 470px; /* 3 images of 150px showing with a 10px margin = 3*(150) + 2*(10) = 470 */
overflow: hidden;
} 
#container img{
position: absolute;
top: 0px;
height: 150px;
width: 150px;
cursor: pointer;
overflow: hidden;
} 
#carouselLeft{
position: absolute;
top: 60px;
left: 0px;
cursor: pointer;
}
#carouselRight{
position: absolute;
top: 60px;
left: 540px;
cursor: pointer;
}
.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(/sayt//images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
#slideshowCont {
	float:left;
	width: 650px;
	border:1px solid #e3e3e3;
	overflow:scroll;
	position:relative;
	
}

#next{
	top:75px;
	left:10px;
	cursor:pointer;
	position:absolute;
	display:none;
}
#last{
	top:75px;
	right:10px;
	cursor:pointer;
	position:absolute;
	display:none;
}
#slideShow {
	padding:20px 0px;
	width:520px;
	height:50px;
	float:left;
	
}

#slideShow ul{
	list-style:none;
	margin:0;
	padding:0;
	width:1900px;
	margin-left:58px;
}
#slideShow ul li {
	float:left;
}
#slideShow ul li div{
	float:left;
	margin-left:26px;
	margin-right:24px;

}

#slideShow ul li div p{
	margin:0;
	padding:0;
	width:120px;
	text-align:center;
	color:#5e8387;
	text-transform:uppercase;
	padding:2px 0px;
	font-size:12px;
	
}
.clear {
clear:both;
}
.table td{
    text-align:left;
    padding:5px;
    border:1px solid #333;
}
.prices{
    text-align:right;
    
    color:#333;
    
    font: normal 20px 'roboto_slab-b';
}
#bread ul{
        margin: 0px;
    padding: 10px;
}
.site-content-left > a:nth-child(3) > img {
    margin-top: 43px
}
}